 [mysqld]
 user=mysql
 default-storage-engine=INNODB
 character-set-server=utf8mb4
 
 port            = 3306 # 端口与docker-compose里映射端口保持一致
 
 basedir         = /usr
 datadir         = /var/lib/mysql
 tmpdir          = /tmp
 pid-file        = /var/run/mysqld/mysqld.pid
 socket          = /var/run/mysqld/mysqld.sock
 skip-name-resolve  # 这个参数是禁止域名解析的，远程访问推荐开启skip_name_resolve。
 secure_file_priv= /var/lib/mysql

 [client]
 port = 3306
 default-character-set=utf8mb4
 
 [mysql]
 no-auto-rehash
 default-character-set=utf8mb4